.card-profile {
  width: 32.5%;
  background-color: $white-color;
  padding: 1rem;
  border-radius: 0.4rem;
  height: fit-content;
  display: inline-block;
  color: $dark-color;

  & > .card-header {
    display: flex;
    align-items: center;

    & > .img-profile {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }

  & > .card-body {
    position: relative;

    & .img-course {
      width: 100%;
    }

    & .card-playlist {
      position: absolute;
      top: 4%;
      left: 2%;
      background-color: $playlist-bg;
      color: $white-color;
      font-size: small;
      display: inline-block;
      padding: 0.2rem 0.8rem;
      border-radius: 0.3rem;
    }

    & > .card-profile-title {
      font-weight: 900;
    }

    & > .card-profile-date {
      font-size: small;
      color: $light-color;
    }
  }
}

.education-video-bg {
  width: 100%;
  background-color: $white-color;
  padding: 1rem;
  border-radius: 0.4rem;
  height: fit-content;
  display: inline-block;
  color: $dark-color;

  & > .education-video-details {
    & > .card-text {
      color: $dark-color;
    }

    & > .sub-details {
      margin: 1rem 0;
      font-size: small;
      color: $light-color;

      & > .video-icon {
        color: $main-color;
        margin-right: 0.3rem;
      }
    }
  }

  & > .card-profile {
    border-top: 1px solid $light-color;
    & > .card-header {
      & > .arrange-justify {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 1rem;

        & > .like-buton{
          background-color: $light-bg;
          color: $dark-color;
          padding: .5rem 1rem;
          transition: none;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .card {
    width: 300px;
  }
  .card-profile {
    width: 250px;
  }
}

@media only screen and (min-width: 1200px) {
  .card {
    width: 350px;
  }
  .card-profile {
    width: 300px;
  }
}

@media only screen and (min-width: 1400px) {
  .card {
    width: 375px;
  }

  .card-profile {
    width: 350px;
  }
}
