.education-container {
  > .headline {
    text-transform: capitalize;
    color: var(--dark-color);
    padding: 1rem 0;
    border-bottom: 1px solid var(--dark-color);
  }

  > .cards {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 2rem 0;

    & > .card {
      width: 100%;
      background-color: var(--white-color);
      padding: 1rem;
      border-radius: 0.4rem;
      height: fit-content;
      margin: 1rem;

      & > .card-body {
        margin: 1rem 0;
      }
      & > .card-body-icons {
        display: flex;
        flex-wrap: wrap;
      }

      & .card-title {
        color: var(--dark-color);
        text-transform: capitalize;
        font-weight: 900;
      }

      & .card-text {
        color: var(--light-color);
        margin: 0.5rem 0;
        line-height: 1.7;
      }

      & .card-icon {
        background-color: var(--light-bg);
        color: var(--dark-color);
        display: inline-block;
        padding: 0.5rem;
        margin: 0.5rem;
        border-radius: 0.5rem;

        i {
          transition: none;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .education-container {
    & > .cards {
      justify-content: center;
      & > .card {
        width: 45%;
      }     

      .card-profile {
        width: 45%;
      }

      .education-left{
        width: 50%;
      }
    }
  }  
}

@media only screen and (min-width: 992px) {
  
}

@media only screen and (min-width: 1200px) {
  .education-container {
    & > .cards {
      justify-content: space-between;
      & > .card {
        width: 32%;
        margin: 1rem 0;        
      }

      .card-profile {
        width: 30%;
      }

      .card-teacher{
        width: 32% !important;
      }
    }
  } 
}

@media only screen and (min-width: 1400px) {
  .education-container {
    & > .cards {    
      & > .card {
        width: 24%;
      }      
    }
  }
}




// okay



@media only screen and (min-width: 1200px) {
  
  .card-profile {
    width: 300px;
  }
}

@media only screen and (min-width: 1400px) {
  .card-profile {
    width: 350px;
  }
}
