.education-container {
  padding: 0 2rem;
  & > .headline {
    text-transform: capitalize;
    color: $dark-color;
    padding: 1rem 0;
    border-bottom: 1px solid $dark-color;
  }

  & > .cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2rem 0;
    & > .card {
      background-color: $white-color;
      padding: 1rem;
      border-radius: 0.4rem;
      width: 24%;
      height: fit-content;
      & > .card-header {
      }
      & > .card-body {
        margin: 1rem 0;
      }
      & > .card-body-icons {
        display: flex;
        flex-wrap: wrap;
      }
      & > .card-footer {
      }

      & .card-title {
        color: $dark-color;
        text-transform: capitalize;
        font-weight: 900;
      }

      & .card-text {
        color: $light-color;
        margin: 0.5rem 0;
        line-height: 1.7;
      }

      .buton {
        padding-left: 2rem;
        padding-right: 2rem;
        text-transform: capitalize;
      }

      & .card-icon {
        background-color: $light-bg;
        color: $dark-color;
        display: inline-block;
        padding: 0.5rem;
        margin: 0.5rem;
        border-radius: 0.5rem;

        i {
          transition: none;
        }
      }
    }

    & > .card-profile {
      width: 32.5%;
      & > .card-header {
        display: flex;
        align-items: center;

        & > .img-profile {
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }
      }

      & > .card-body {
        position: relative;
        & .img-course {
          width: 100%;
        }

        & .card-playlist{
          position: absolute;
          top: 4%;
          left: 2%;
          background-color: $playlist-bg;
          color: $white-color;
          font-size: small;
          display: inline-block;
          padding: .2rem .8rem;
          border-radius: .3rem;

        }

        & > .card-profile-title {
          font-weight: 900;
        }

        & > .card-profile-date {
          font-size: small;
          color: $light-color;
        }
      }
    }
  }
}
