.card-profile {
  width: 32.5%;
  background-color: $white-color;
  padding: 1rem;
  border-radius: 0.4rem;
  height: fit-content;
  display: inline-block;
  color: $dark-color;
  position: relative;

  & > .card-header {
    display: flex;
    align-items: center;
    position: relative;

    & > .img-profile {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    & > .img-video {
      width: 100%;
    }

    & > .play-icon {
      content: '';
      position: absolute;
      display: none;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $white-color;
      z-index: 1;
      font-size: 3rem;
    }
  }

  & > .card-body {
    position: relative;

    & .img-course {
      width: 100%;
    }

    & > .comment-box {
      background-color: $light-bg;
      padding: 0.5rem;
      margin: 1.5rem 0;
      border-radius: 0.4rem;
      position: relative;
      border: none;

      & > .comment {
        padding: 0.5rem 0;
        overflow-x: scroll;
      }

      &::before {
        content: '';
        position: absolute;
        left: 25px;
        top: 0;
        border-style: solid;
        border-width: 0 10px 15px 10px;
        border-color: transparent transparent $light-bg transparent;
        transform: rotate(0deg) translate(-50%, -100%);
      }
    }

    & .card-playlist {
      position: absolute;
      top: 4%;
      left: 2%;
      background-color: $playlist-bg;
      color: $white-color;
      font-size: small;
      display: inline-block;
      padding: 0.2rem 0.8rem;
      border-radius: 0.3rem;
    }

    & > .card-profile-title {
      font-weight: 900;
    }

    & > .card-profile-date {
      font-size: small;
      color: $light-color;
    }
  }

  &:hover {
    & > .card-header {
      background-color: black;
      & > .img-video {
        opacity: 0.8;
      }
      & > .play-icon {
        display: block;
      }
    }
  }
}

.education-video-bg {
  width: 100%;
  background-color: $white-color;
  padding: 1rem;
  border-radius: 0.4rem;
  height: fit-content;
  display: inline-block;
  color: $dark-color;

  & > .education-video-details {
    & > .card-text {
      color: $dark-color;
    }

    & > .sub-details {
      margin: 1rem 0;
      font-size: small;
      color: $light-color;

      & > .video-icon {
        color: $main-color;
        margin-right: 0.3rem;
      }
    }
  }

  & > .card-profile {
    border-top: 1px solid $light-color;
    & > .card-header {
      & > .arrange-justify {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 1rem;

        & > .like-buton {
          background-color: $light-bg;
          color: $dark-color;
          padding: 0.5rem 1rem;
          transition: none;
        }
      }
    }
  }
}

.comment-box {
  background-color: $light-bg;
  width: 100%;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 0.4rem;
  border: 1px solid $light-color;
}

@media only screen and (min-width: 768px) {
  .card {
    width: 300px;
  }
  .card-profile {
    width: 250px;
  }
}

@media only screen and (min-width: 1200px) {
  .card {
    width: 350px;
  }
  .card-profile {
    width: 300px;
  }
}

@media only screen and (min-width: 1400px) {
  .card {
    width: 375px;
  }

  .card-profile {
    width: 350px;
  }
}
