.education-container {
  // display: flex;
  // justify-content: space-between;

  & > .education-left {
    display: inline-block;
    width: 50%;
    & > .img-education {
      width: 100%;
    }
  }
  & > .education-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    float: right;

    & > .about-title {
      color: $dark-color;
    }

    & > .about-text {
      line-height: 1.9;
      margin: 1rem 0;
      color: $light-color;
    }

    & > .buton {
      width: fit-content;
    }
  }
}
.mini-cards {
  display: flex;
  justify-content: space-between;

  & > .mini-card {
    display: flex;
    align-items: center;
    background-color: $white-color;
    width: 25%;
    padding: 1rem;
    border-radius: 0.4rem;
    margin: 0 1rem;

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }

    .mini-icon {
      font-size: xx-large;
      color: $main-color;
    }

    .mini-text {
      color: $light-color;
    }
  }
}
.card-review {
  width: 30% !important;
  padding: 0 1rem !important;
  margin: 1rem auto !important;
  
  &:nth-of-type(1),&:nth-of-type(4){
    margin-left: 0 !important;
  }
  & > .card-footer {
    padding-bottom: 1rem;
  }
}

.education-flex {
  display: flex;
  justify-content: space-between;
}
