footer{
    height: 75px;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid $light-bg;
    background-color: $white-color;
    color: $dark-color;  

    & > .copyright{
        & > .copyright-link{
            color: $main-color;
        }
    }
}
  