<div class="education-container">
    <h2 class="headline">our courses</h2>  
    <div class="cards education-flex">

      <online-education-course-item *ngFor="let course of courses" [courseData]="course"></online-education-course-item>
       
      <!-- <div class="card card-profile my-half">
        <div class="card-header">
          <img
            src="../../../assets/images/avatar-g2.jpg"
            class="img-profile"
            alt="avatar"
          />
          <div class="mx-1">
            <p class="card-profile-title">john doe</p>
            <small class="card-profile-date">21-10-2024</small>
          </div>
        </div>
        <div class="card-body">
          <div class="arrange-center">
            <img
              src="../../../assets/images/course-css.jpg"
              class="img-course"
              alt="course"
            />
            <span class="card-playlist">15 videos</span>
          </div>
          <p class="fw-bold my-half">complete CSS tutorial</p>
        </div>
        <div class="card-footer">
          <button type="button" class="buton">View Playlist</button>
        </div>
      </div>
  
      <div class="card card-profile my-half">
        <div class="card-header">
          <img
            src="../../../assets/images/avatar-m.jpg"
            class="img-profile"
            alt="avatar"
          />
          <div class="mx-1">
            <p class="card-profile-title">john doe</p>
            <small class="card-profile-date">21-10-2024</small>
          </div>
        </div>
        <div class="card-body">
          <div class="arrange-center">
            <img
              src="../../../assets/images/course-js.png"
              class="img-course"
              alt="course"
            />
            <span class="card-playlist">14 videos</span>
          </div>
          <p class="fw-bold my-half">complete JavaScript tutorial</p>
        </div>
        <div class="card-footer">
          <button type="button" class="buton">View Playlist</button>
        </div>
      </div>
  
      <div class="card card-profile my-half">
        <div class="card-header">
          <img
            src="../../../assets/images/avatar-m2.jpg"
            class="img-profile"
            alt="avatar"
          />
          <div class="mx-1">
            <p class="card-profile-title">john doe</p>
            <small class="card-profile-date">21-10-2024</small>
          </div>
        </div>
        <div class="card-body">
          <div class="arrange-center">
            <img
              src="../../../assets/images/course.sass.jpg"
              class="img-course"
              alt="course"
            />
            <span class="card-playlist">9 videos</span>
          </div>
          <p class="fw-bold my-half">complete Sass tutorial</p>
        </div>
        <div class="card-footer">
          <button type="button" class="buton">View Playlist</button>
        </div>
      </div>
  
      <div class="card card-profile my-half">
        <div class="card-header">
          <img
            src="../../../assets/images/avatar-g2.jpg"
            class="img-profile"
            alt="avatar"
          />
          <div class="mx-1">
            <p class="card-profile-title">john doe</p>
            <small class="card-profile-date">21-10-2024</small>
          </div>
        </div>
        <div class="card-body">
          <div class="arrange-center">
            <img
              src="../../../assets/images/course-css.jpg"
              class="img-course"
              alt="course"
            />
            <span class="card-playlist">15 videos</span>
          </div>
          <p class="fw-bold my-half">complete CSS tutorial</p>
        </div>
        <div class="card-footer">
          <button type="button" class="buton">View Playlist</button>
        </div>
      </div>
  
      <div class="card card-profile my-half">
        <div class="card-header">
          <img
            src="../../../assets/images/avatar-g2.jpg"
            class="img-profile"
            alt="avatar"
          />
          <div class="mx-1">
            <p class="card-profile-title">john doe</p>
            <small class="card-profile-date">21-10-2024</small>
          </div>
        </div>
        <div class="card-body">
          <div class="arrange-center">
            <img
              src="../../../assets/images/course-js.png"
              class="img-course"
              alt="course"
            />
            <span class="card-playlist">14 videos</span>
          </div>
          <p class="fw-bold my-half">complete JavaScript tutorial</p>
        </div>
        <div class="card-footer">
          <button type="button" class="buton">View Playlist</button>
        </div>
      </div>    -->
    
    </div>      
</div>