<div class="container" [ngClass]="{'bg-dark':isDark, 'hide' : hiddenMenu}">
    <online-education-menu (dataFormMenu)="GetDataFromMenu($event)" [data]="hiddenMenu"></online-education-menu>
    <div class="content">
    <online-education-header (dataFormHeader)="GetDataFromHeader($event)"
    [data]="hiddenMenu" [colorData]="isDark"></online-education-header>
    <main>
        <!-- <online-education-option></online-education-option> -->
        <!-- <online-education-course></online-education-course> -->
        <!-- <online-education-teachers></online-education-teachers> -->
    </main>
    <online-education-footer></online-education-footer>
</div>
</div>
